.container2{
  display: none;
  align-content: center;

}
h1{
  text-align: center;
}
#new-game{
align-content: center;
    }
.jumbotron{
color :green;
}
h1{
  color:yellow;
}
.form-group{
  color: red;
  font-size: bold;
}
h2{
  color:red;
}
body{
  column-fill: balance;
  margin-right: -50px;
  border-radius: 20px;
  border:red;
}
.background{
  margin-right: 50px;
}
